---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <nav
    class="px-2 bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700"
  >
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      <a href="#" class="flex items-center">
        <img
          src="https://media.licdn.com/dms/image/C4E0BAQFyA0Iz49c6aw/company-logo_200_200/0/1625769121126?e=2147483647&v=beta&t=2wM-Iz3n5Rq-TqSBjasTdOleT-tMjfO3r4TyrsJj9Tg"
          class="h-6 mr-3 sm:h-10"
          alt="Flowbite Logo"
        />
        <span
          class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
          >BRIA</span
        >
      </a>
      <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
        <ul
          class="flex flex-col p-4 mt-4 border border-gray-500 rounded-lg bg-gray-500 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
        >
          <li>
            <a
              href="#quemSomos"
              class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-purple-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
              >Quem somos</a
            >
          </li>
          <li>
            <a
              href="#planos"
              class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-purple-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
              >Planos</a
            >
          </li>
          <li>
            <a
              href="#comoFunciona"
              class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-purple-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
              >Como funciona</a
            >
          </li>
          <li>
            <a
              href="#saibaMais"
              class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-purple-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
              >Saiba mais</a
            >
          </li>
          <li>
            <a
              href="#FAQ"
              class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-purple-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
              >FAQ</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="itens-center flex">
    <img
      src="https://play-lh.googleusercontent.com/vNbNuMlgjP10zHGCeoMLa2aHWwjXKZVco2x8UPtAfyqogPc9Uw7gP3ys1Xo0w5JPxpcb=h500"
      width="150px"
    />
    <h1 id="quemSomos">QUEM SOMOS</h1>
  </div>
  <p>aaaaaaaaaaaaaaaaaaaaaa</p>
  <div class="container my-24 px-6 mx-auto">
    <section class="mb-32 text-gray-800">
      <h2 id="planos" class="text-3xl font-bold text-center mb-12">
        ESCOLHA O SEU PLANO
      </h2>

      <div class="grid lg:grid-cols-3 gap-6 lg:gap-x-12">
        <div class="mb-6 lg:mb-0">
          <div class="block rounded-lg shadow-lg bg-white h-full">
            <div class="p-6 border-b border-gray-300 text-center">
              <p class="uppercase mb-4 text-sm">
                <strong>Plano silver</strong>
              </p>
              <h3 class="text-2xl mb-6">
                <strong>R$ 15</strong>
                <small class="text-gray-500 text-sm">/Mês</small>
              </h3>
              <a href="/checkout" target="_blank">
                <button
                  type="button"
                  class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-600 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full"
                  data-mdb-ripple="true"
                  data-ripple-color="light"
                >
                  Buy
                </button>
              </a>
            </div>
            <div class="p-6">
              <ol class="list-inside">
                <li class="mb-4 flex items-center">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="text-green-600 w-4 h-4 mr-2"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    >
                    </path>
                  </svg>Unlimited updates
                </li>
                <li class="mb-4 flex items-center">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="text-green-600 w-4 h-4 mr-2"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    >
                    </path>
                  </svg>Git repository
                </li>
                <li class="mb-4 flex items-center">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="text-green-600 w-4 h-4 mr-2"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    >
                    </path>
                  </svg>npm installation
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="mb-6 lg:mb-0">
          <div class="block rounded-lg shadow-lg bg-white h-full">
            <div class="p-6 border-b border-gray-300 text-center">
              <p class="uppercase mb-4 text-sm">
                <strong>PLANO GOLD</strong>
              </p>
              <h3 class="text-2xl mb-6">
                <strong>R$ 30</strong>
                <small class="text-gray-500 text-sm">/Mês</small>
              </h3>
              <a href="/checkout" target="_blank">
                <button
                  type="button"
                  class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-yellow-600 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full"
                  data-mdb-ripple="true"
                  data-ripple-color="light"
                >
                  Buy
                </button>
              </a>
            </div>
            <div class="p-6">
              <ol class="list-inside">
                <li class="mb-4 flex items-center">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="text-green-600 w-4 h-4 mr-2"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    >
                    </path>
                  </svg>Unlimited updates
                </li>
                <li class="mb-4 flex items-center">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="text-green-600 w-4 h-4 mr-2"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    >
                    </path>
                  </svg>Git repository
                </li>
                <li class="mb-4 flex items-center">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="text-green-600 w-4 h-4 mr-2"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    >
                    </path>
                  </svg>npm installation
                </li>
                <li class="mb-4 flex items-center">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="text-green-600 w-4 h-4 mr-2"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    >
                    </path>
                  </svg>Code examples
                </li>
                <li class="mb-4 flex items-center">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="text-green-600 w-4 h-4 mr-2"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    >
                    </path>
                  </svg>Premium snippets
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="mb-6 lg:mb-0">
          <div class="block rounded-lg shadow-lg bg-white h-full">
            <div class="p-6 border-b border-gray-300 text-center">
              <p class="uppercase mb-4 text-sm">
                <strong>PLANO EMERALD</strong>
              </p>
              <h3 class="text-2xl mb-6">
                <strong>R$ 50</strong>
                <small class="text-gray-500 text-sm">/Mês</small>
              </h3>
              <a href="/checkout" target="_blank">
                <button
                  type="button"
                  class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-300 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full"
                  data-mdb-ripple="true"
                  data-ripple-color="light"
                >
                  Buy
                </button>
              </a>
            </div>
            <div class="p-6">
              <ol class="list-inside"></ol>
              <li class="mb-4 flex items-center">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="check"
                  class="text-green-600 w-4 h-4 mr-2"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                  >
                  </path>
                </svg>Unlimited updates
              </li>
              <li class="mb-4 flex items-center">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="check"
                  class="text-green-600 w-4 h-4 mr-2"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                  >
                  </path>
                </svg>Git repository
              </li>
              <li class="mb-4 flex items-center">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="check"
                  class="text-green-600 w-4 h-4 mr-2"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                  >
                  </path>
                </svg>npm installation
              </li>
              <li class="mb-4 flex items-center">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="check"
                  class="text-green-600 w-4 h-4 mr-2"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                  >
                  </path>
                </svg>Code examples
              </li>
              <li class="mb-4 flex items-center">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="check"
                  class="text-green-600 w-4 h-4 mr-2"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                  >
                  </path>
                </svg>Premium snippets
              </li>
              <li class="mb-4 flex items-center">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="check"
                  class="text-green-600 w-4 h-4 mr-2"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                  >
                  </path>
                </svg>Premium support
              </li>
              <li class="mb-4 flex items-center">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="check"
                  class="text-green-600 w-4 h-4 mr-2"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                  >
                  </path>
                </svg>Drag&amp;Drop builder
              </li>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div>
    <div class="container my-24 px-6 mx-auto">
      <section class="mb-32">
        <style>
          @media (min-width: 992px) {
            #cta-img-nml-50 {
              margin-left: 50px;
            }
          }
        </style>

        <div class="flex flex-wrap">
          <div
            class="grow-0 shrink-0 basis-auto w-full lg:w-5/12 mb-12 lg:mb-0"
          >
            <div class="flex lg:py-12">
              <img
                src="https://mdbootstrap.com/img/new/standard/people/058.jpg"
                class="w-full rounded-lg shadow-lg"
                id="cta-img-nml-50"
                style="z-index: 10"
                alt=""
              />
            </div>
          </div>

          <div class="grow-0 shrink-0 basis-auto w-full lg:w-7/12">
            <div
              class="bg-yellow-500 h-full rounded-lg p-6 lg:pl-12 text-white flex items-center text-center lg:text-left"
            >
              <div class="lg:pl-12">
                <h2 class="text-3xl font-bold mb-6">Let it surprise you</h2>
                <p class="mb-6 pb-2 lg:pb-0">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Maxime, sint, repellat vel quo quisquam accusamus in qui at
                  ipsa enim quibusdam illo laboriosam omnis. Labore itaque illum
                  distinctio eum neque!
                </p>

                <div
                  class="flex flex-col md:flex-row md:justify-around xl:justify-start mb-6 mx-auto"
                >
                  <p
                    class="flex items-center mb-4 md:mb-2 lg:mb-0 mx-auto md:mx-0 xl:mr-20"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                      class="w-4 h-4 mr-2"
                    >
                      <path
                        fill="currentColor"
                        d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                      >
                      </path>
                    </svg>
                    Best team
                  </p>

                  <p
                    class="flex items-center mb-4 md:mb-2 lg:mb-0 mx-auto md:mx-0 xl:mr-20"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                      class="w-4 h-4 mr-2"
                    >
                      <path
                        fill="currentColor"
                        d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                      >
                      </path>
                    </svg>
                    Best quality
                  </p>

                  <p class="flex items-center mb-2 lg:mb-0 mx-auto md:mx-0">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                      class="w-4 h-4 mr-2"
                    >
                      <path
                        fill="currentColor"
                        d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                      >
                      </path>
                    </svg>
                    Best experience
                  </p>
                </div>

                <p>
                  Duis sagittis, turpis in ullamcorper venenatis, ligula nibh
                  porta dui, sit amet rutrum enim massa in ante. Curabitur in
                  justo at lorem laoreet ultricies. Nunc ligula felis, sagittis
                  eget nisi vitae, sodales vestibulum purus. Vestibulum nibh
                  ipsum, rhoncus vel sagittis nec, placerat vel justo. Duis
                  faucibus sapien eget tortor finibus, a eleifend lectus dictum.
                  Cras tempor convallis magna id rhoncus. Suspendisse potenti.
                  Nam mattis faucibus imperdiet. Proin tempor lorem at neque
                  tempus aliquet. Phasellus at ex volutpat, varius arcu id,
                  aliquam lectus. Vestibulum mattis felis quis ex pharetra
                  luctus. Etiam luctus sagittis massa, sed iaculis est vehicula
                  ut.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div>
    <div class="container my-24 px-6 mx-auto">
      <section class="mb-32 text-gray-800">
        <h2 id="saibaMais" class="text-3xl font-bold mb-12 text-center">
          Saiba mais
        </h2>

        <div class="flex flex-wrap mb-12 md:mb-0">
          <div class="grow-0 shrink-0 basis-auto w-2/12">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(24).jpg"
              class="w-full shadow-lg rounded-lg mb-6"
              alt=""
            />
          </div>

          <div class="grow-0 shrink-0 basis-auto w-10/12 pl-4 md:pl-6">
            <p class="font-semibold mb-3">Marta Dolores</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Distinctio est ab iure inventore dolorum consectetur? Molestiae
              aperiam atque quasi consequatur aut? Repellendus alias dolor ad
              nam, soluta distinctio quis accusantium!
            </p>
          </div>
        </div>

        <!-- Comment -->
        <div class="flex flex-wrap mb-12 md:mb-0">
          <div class="grow-0 shrink-0 basis-auto w-2/12">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(25).jpg"
              class="w-full shadow-lg rounded-lg mb-6"
              alt=""
            />
          </div>

          <div class="grow-0 shrink-0 basis-auto w-10/12 pl-4 md:pl-6">
            <p class="font-semibold mb-3">Valeria Groove</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Distinctio est ab iure inventore dolorum consectetur? Molestiae
              aperiam atque quasi consequatur aut? Repellendus alias dolor ad
              nam, soluta distinctio quis accusantium!
            </p>
          </div>
        </div>
        <div class="flex flex-wrap">
          <div class="grow-0 shrink-0 basis-auto w-2/12">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg"
              class="w-full shadow-lg rounded-lg mb-6"
              alt=""
            />
          </div>

          <div class="grow-0 shrink-0 basis-auto w-10/12 pl-4 md:pl-6">
            <p class="font-semibold mb-3">Antonia Velez</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Distinctio est ab iure inventore dolorum consectetur? Molestiae
              aperiam atque quasi consequatur aut? Repellendus alias dolor ad
              nam, soluta distinctio quis accusantium!
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div>
    <div class="container my-24 px-6 mx-auto">
      <section class="mb-32 text-gray-800">
        <h2 id="FAQ" class="text-3xl font-bold mb-12 text-center">FAQ</h2>

        <div class="grid lg:grid-cols-3 gap-6">
          <div class="mb-12">
            <p class="font-bold mb-4">Anim pariatur cliche reprehenderit?</p>
            <p class="text-gray-500">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt
              autem numquam dolore molestias aperiam culpa alias veritatis
              architecto eos, molestiae vitae ex eligendi libero eveniet
              dolorem, doloremque rem aliquid perferendis.
            </p>
          </div>

          <div class="mb-12">
            <p class="font-bold mb-4">Non cupidatat skateboard dolor brunch?</p>
            <p class="text-gray-500">
              Distinctio corporis, iure facere ducimus quos consectetur ipsa ut
              magnam autem doloremque ex! Id, sequi. Voluptatum magnam sed fugit
              iusto minus et suscipit? Minima sunt at nulla tenetur, numquam
              unde quod modi magnam ab deserunt ipsam sint aliquid dolores
              libero repellendus cupiditate mollitia quidem dolorem odit
            </p>
          </div>

          <div class="mb-12">
            <p class="font-bold mb-4">
              Praesentium voluptatibus temporibus consequatur non aspernatur?
            </p>
            <p class="text-gray-500">
              Minima sunt at nulla tenetur, numquam unde quod modi magnam ab
              deserunt ipsam sint aliquid dolores libero repellendus cupiditate
              mollitia quidem dolorem.
            </p>
          </div>

          <div class="col-md-12 mb-12">
            <p class="font-bold mb-4">
              Voluptatum magnam sed fugit iusto minus et suscipit?
            </p>
            <p class="text-gray-500">
              Laudantium perferendis, est alias iure ut veniam suscipit dolorem
              fugit. Et ipsam corporis earum ea ut quae cum non iusto blanditiis
              ipsum dolor eius reiciendis, velit adipisci quas.
            </p>
          </div>

          <div class="mb-12">
            <p class="font-bold mb-4">Minima sunt at nulla tenetur,?</p>
            <p class="text-gray-500">
              Numquam unde quod modi magnam ab deserunt ipsam sint aliquid
              dolores libero repellendus cupiditate mollitia quidem dolorem odit
            </p>
          </div>

          <div class="mb-12">
            <p class="font-bold mb-4">
              Distinctio corporis, iure facere ducimus?
            </p>
            <p class="text-gray-500">
              Eaque eos corrupti debitis tenetur repellat, beatae quibusdam
              incidunt, fuga non iste dignissimos officiis nam officia obcaecati
              commodi ratione qui nesciunt.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-family: "Montserrat", Sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
